.myCard {

  width: 400px;
 
  border: 1px solid black;


  img {

    width: 100%;
    
    height: 300px;
    
 
  }




  .cardFooter {

      display: flex;
      justify-content: center;
      align-items: center;
    h3 {

      padding: 10px;
      text-align: center;
    }

    p {
      margin-left: 20px;
      padding: 5px;
      
    }

    button {

      margin-bottom: 20px;
    }


  }

  

 
}