

// NAVBAR

$NavbarBackgroundImage: linear-gradient(315deg, #2d3436 0%, #000000 74%);
$NavbarBackgroundColor: #2d3436;



//CAROUSEL

$CarouselBackgroundColor: #ffffff;
$CarouselBackgroundImage: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);